html::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 254, 215, 0.5);
}

body {
  background: #fafed7;
  background-image: url("https://sprig.hackclub.com/pcb.svg");
  background-size: cover;
  background-repeat: no-repeat;
   background-attachment: fixed;
}

canvas {
  opacity: 1;
}
