html::before {
  background-color: rgba(250, 254, 215, 0.5);
}

body {
  background: #fafed7;
  background-image: url("https://sprig.hackclub.com/pcb.svg");
  background-size: cover;
  background-repeat: no-repeat;
   background-attachment: fixed;
}
